.product-page {
    .container {
        margin-top: 3em;
    }

    .hero {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 480px;
        position: relative;
        .hero-title {
            color: white;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: 0.04em;
            z-index: 999;
        }
        .opaque-overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.2);
            z-index: 990;
        }


        .stores-link-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -3em;
            height: 3em;
            width: 100%;
            background-color: $functional-lightest;

            svg {
                margin-right: 1em;
                width: 2em;
            }
            p {
                font-size: 0.8em;
                font-weight: 400;

                a {
                    color: $rock-dark;
                }
            }
        }
    }
    
    .products-container {
        .products-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .products-header-split {
                width: auto;
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 1rem 0;
                &:first-child {
                    justify-content: start;
                }
                &:last-child {
                    justify-content: flex-end;
                }
                .toggle-filters {
                    display: none;
                    color: $functional-dark;
                    background: $white;
                    border: 1px solid $functional-light;
                    padding: .5rem 1rem;
                    font-size: 16px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;
                    appearance: none;
                    outline-width: 0;
                    font-size: 16px;
                    justify-content: space-around;
                    align-items: center;
                    cursor: pointer;
                    img, span {
                        padding: 0 .5rem;
                    }
                }
            }

            .numbered-products-results {
                font-size: 20px;
                letter-spacing: 0.01rem;
            }
            .coupon-banner {
                display: flex;
                justify-content: initial;
                align-items: center;
                margin-top: 1rem;
                cursor: pointer;
                strong {
                    padding: 0 1rem;
                    text-transform: uppercase;
                }
            }
            .products-quick-filter {
                background: $white;
                border: 1px solid $functional-light;
                padding: .5rem 1rem;
                font-size: 16px;
                -moz-appearance: none;
                -webkit-appearance: none;
                -webkit-border-radius: 0px;
                appearance: none;
                outline-width: 0;
                width: 220px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                span {
                    color: $functional-dark;
                    white-space: nowrap;
                }
            }

        }
        .filter-drop-down {
            position: relative;
            .dropdown-options-container {
                border: 1px solid $functional-light;
                border-top: none;
                width: 100%;
                position: absolute;
                z-index: 9;
                background-color: $white;
                .dropdown-option {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    color: $functional-dark;
                    padding: .5rem 1rem;
                    text-align: left;
                    cursor: pointer;
                    &:hover {
                        background-color: $functional-lightest;
                    }
                }
            }
            .products-side-filter-head {
                &:hover {
                    span {
                        box-shadow: inset 0px -2px 0px $red-mid;
                    }
                }
                .dropdown-open {
                    box-shadow: inset 0px -2px 0px $red-mid;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-bottom: 1px solid $functional-light;
                width: 100%;
                z-index: 9;
                background-color: $white;
                padding: 1rem;
                font-size: 18px;
                -moz-appearance: none;
                -webkit-appearance: none;
                -webkit-border-radius: 0px;
                appearance: none;
                outline-width: 0;
                text-transform: uppercase;
            }
            .row {
                // display: flex;
                // flex-wrap: wrap;
            }
            .side-filter-dropdown-container {
                padding: .5rem 0;
                .dropdown-option-selected {
                    background-color: $functional-lightest;
                }
                .dropdown-swatch {
                    background: $white;
                    box-sizing: border-box;
                    border: 1px solid $functional-light;
                    padding: 8px;
                    font-weight: 500;
                    margin: .25rem;
                    cursor: pointer;
                    min-width: 66px;
                    text-align: center;
                    &:hover {
                        padding: 7px;
                        border: 2px solid $functional-dark;
                    }
                }
                .dropdown-swatch-active {
                    background-color: $functional-darkest;
                    span {
                        color: $white;
                    }
                }             

                .dropdown-checkbox-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 .5rem;
                    
                    .color-swatch {
                        width:40px;
                        height:40px;
                        border: 1px solid #C9C9C9;
                        margin: .5rem 0;
                        cursor: pointer;
                    }

                    .color-swatch-tool-tip {
                        position: absolute;
                        top: 0px;
                        left: 35px;
                        background-color: $functional-darkest;
                        // border: 1px solid #C9C9C9;
                        color: white;
                        padding: 2px 5px;
                        z-index: 999;
                    }

                    // input[type="checkbox"] {
                    //     margin-right: .5rem;
                    //     background: $white;
                    //     border: 1px solid $functional-light;
                    //     padding: 5px;
                    // }
                    [type="checkbox"]:not(:checked),
                    [type="checkbox"]:checked {
                      position: absolute;
                      left: 0;
                      opacity: 0.01;
                    }
                    [type="checkbox"]:not(:checked) + label,
                    [type="checkbox"]:checked + label {
                      position: relative;
                      padding-left: 2.3em;
                      font-size: 1.05em;
                      line-height: 1.7;
                      cursor: pointer;
                    }
                  
                    /* checkbox aspect */
                    [type="checkbox"]:not(:checked) + label:before,
                    [type="checkbox"]:checked + label:before {
                      content: '';
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 1.4em;
                      height: 1.4em;
                      border: 1px solid $functional-dark;
                      background: #FFF;
                      &:hover {
                        border: 2px solid $functional-dark;
                        }
                    }
                  
                    /* checked mark aspect */
                    [type="checkbox"]:not(:checked) + label:after,
                    [type="checkbox"]:checked + label:after {
                      content: '■';
                      position: absolute;
                      top: 11px;
                      left: -1.5px;
                      font-size: 3rem;
                      color: $functional-darkest;
                      line-height: 0;
                      -webkit-transition: all .2s;
                          transition: all .2s;
                    }
                  
                    /* checked mark aspect changes */
                    [type="checkbox"]:not(:checked) + label:after {
                      opacity: 0;
                      -webkit-transform: scale(0) rotate(45deg);
                          transform: scale(0) rotate(45deg);
                    }
                  
                    [type="checkbox"]:checked + label:after {
                      opacity: 1;
                      -webkit-transform: scale(1) rotate(0);
                          transform: scale(1) rotate(0);
                    }
                  
                    /* Disabled checkbox */
                    [type="checkbox"]:disabled:not(:checked) + label:before,
                    [type="checkbox"]:disabled:checked + label:before {
                      box-shadow: none;
                      border-color: #c9c9c9;
                      background-color: #fff;
                    }
                  
                    [type="checkbox"]:disabled:checked + label:after {
                      color: $functional-darkest;
                    }
                  
                    [type="checkbox"]:disabled + label {
                      color: #aaa;
                    }
                  
                }
                li {
                    color: $functional-dark;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $functional-lightest;
                    }
                    a {
                        color: $functional-dark;
                    }
                }
            }
        }
        .products-section {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            .bc-product-grid {
                width: auto;
                padding: 0;
                // padding-left: 2rem;
                // width: 75%;
                width: 100%;
                height: fit-content;
            }
            .mobile-opaque-background { 
                display: none;
            }
        }
        .products-filter-container {
            width: 25%;
            margin-right: 1rem;
            .sticky {
                position: sticky;
                background-color: white;
                z-index: 99999;
            }
            .products-filter-head {
                font-size: 18px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                letter-spacing: 0.12em;
                border-top: 1px solid $functional-light;
                border-bottom: 1px solid $functional-light;
                padding: .5rem;
                img {
                    padding: 0 .5rem;
                }
            }
            .selected-filters {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 1rem 0;
                .filter-swatch {
                    margin: 5px;
                    padding: .5rem;
                    border: 1px solid $functional-light;
                    display: flex;
                    align-items: center;
                    background-color: $functional-darkest;
                    img {
                        cursor: pointer;
                        margin-right: .5rem;
                    }
                    span {
                        font-weight: normal;
                        color: $functional-dark;
                        font-size: 16px;
                        letter-spacing: 0.01em;
                        color: $white;
                    }
                }
            }
        }
    }
}
// PRODUCT CARD
.bc-product-card {
    img {
        border: 1px solid $functional-light;
        padding: 1rem 0;
        background-color: white;
    }
    .bc-product__meta {
        padding-top: 0.5rem;
        padding-bottom: 0;
        span.brand-name {
            font-size: 0.5rem;
        }
        .bc-product__title {
            a {
                font-size: 1rem;
            }
        }
    }
    .bc-product-card-image-anchor {
        &:hover,
        &:focus,
        &:active {
            border: 2px solid $functional-darkest;
        }
    }

    .product-card-image-options {
        img {
            width: 40px;
            margin: .5rem 5px;
            padding: 0;
            cursor: pointer;
        }
        img:first-child {
            margin-left: 0;
        }
    }
}

@media (max-width: 1215px) {
    .product-page {
        .container {
            max-width: auto !important;
        }
        .products-container {
            margin: 0 1rem !important;
            .products-filter-container {
                display: none;
                height: 100%;
                position: fixed;
                background-color: white;
                left: 0;
                top: 0;
                min-width: 80%;
                z-index: 99999;
            }
            .filter-drawer-open {
                display: block;
                overflow: scroll;
            }
            .products-section {
                .bc-product-grid {
                    padding-left: 0;
                }
                .mobile-opaque-background {
                    display: none;
                    position: fixed;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.5);
                    z-index: 999;
                    &.filter-drawer-open {
                        display: block;
                        z-index: 99999;
                    }
                }
                .bc-product-grid {
                    width: 100%;
                }
            }
            .products-header .products-header-split {
                .toggle-filters {
                    display: flex;
                }
                .coupon-banner {
                    display: none
                }
            }
        }
    }
}

@media (max-width: $tablet-bp) {
    .product-page {
        .hero {
            height: 200px;
            justify-content: flex-end;
            margin-bottom: .5rem;
            .hero-title {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.04em;
                padding: .5rem;
                background: $functional-darkest
            }
            .stores-link-banner {
                svg {
                    width: 1.5em;
                }
            }
        }
        .products-container {
            .products-header .products-header-split {
                width: 49%;
                &:nth-child(2) {
                    display: none;
                }
            }
            .products-section {
                padding: .5rem 0;
            }
        }
    }
}

@media (max-width: $mobile-bp) {
    .product-page {
        .hero {
            .stores-link-banner {
                padding: 0 2em;

                svg {
                    width: 3em;
                }
                p {
                    font-size: 0.5em;
                }
            }
        }
        .products-container {
            .products-header {
                .filter-drop-down {
                    width: 100%;
                }
                .products-header-split {
                    .toggle-filters, .products-quick-filter {
                        width: 100%;
                        margin: 0;
                        max-height: 40px;
                    }
                }  
            } 
        }
    }
}


