header {
    .navbar-menu {
        display: flex;
        justify-content: space-between;
        width:100%;
        padding: 0 55px;
        a {
            display: block;
            padding: 1rem;
            color: $functional-darkest;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                color: $link-hover-gray;
                text-decoration: none;
                padding-bottom: .75rem;
                border-bottom: .25rem solid $rock-dark;
            }
        }
        img {
            max-width: 100px;
        }
    }
    .bigcommerce-cart__item-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: $stone-dark;
    }

    .cart-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.announcement-bar {
    background-color: $rock-dark;
    color: white;
    z-index: 10;
    position: relative;
    text-align: center;
    .announcement-bar-message {
        font-weight: normal;
        padding: .5rem 22px;
        margin: 0px;
    }
    .announcement-bar-close-icon {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}

.menu-main-navigation-container {
    position: relative;
    padding: 0;
    text-align: center;
    a {
        text-transform: uppercase;
    }
}

.site-header-icons-wrapper {
    a {
        padding: 10px 5px;
        span {
            font-size: 14px;
            color: $functional-dark;
        }
    }
}


// tablet and up
@media (min-width: $tablet-bp) {
    .mobile-hamburger {
        display: none;
    }
}

// tablet and down
@media (max-width: $tablet-bp) {
    .menu-main-navigation-container {
        display: none;
    }
    .secondary-nav-link {
        display: none;
    }
    header {
        .container-sm, .container {
            max-width: 100%;
        }
    }
    .menu-container  {
        height: 48px;
    }
}