.top-selling-boots-block {
    padding-top: 4rem;
    text-align: center;
    .top-selling-boots-container {
        padding: 1rem;
    }
    h2 {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.04em;
    }
}

// PRODUCT CARD DETAILS 
.bc-product__meta {
    text-align: left;
    padding: .5rem 0px;
    .brand-name {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: $functional-dark;
    }
    .bc-product__title {
        margin-bottom: 10px;
    }
    .bc-product-price,
    .bc-product__price--sale {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: $functional-darkest;
    }
    .original-price-node {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-decoration-line: line-through;
        color: $functional-dark;
        margin-bottom: 0;
    }
    .bc-product__pricing--visible {
        display: flex;
        flex-direction: column;
    }
}
// PRODUCT CARD DETAILS 